.header-container{
    display: flex;
    padding-top: 20px;
}

.logo{
    background-color: $color-white-transparent;
    height: 38px;
    padding: 6px 39px;
    font-size: 24px;
    font-weight: bold;
    
    .link__logo{
        margin: auto 0;
    }

    .logo__first__part{
        color: $color-black;
    }
    
    .logo__second__part{
        color: $color-primary;
    }
}

.nav__bar{
    background-color: $color-black-transparent;
    width: 100%;
    padding: 10px;
    padding-left: 45px;

    .links{
        display: flex;
        gap: 30px;
    }

    .link{
        color: $color-white;
        position: relative;
    }

    .links a:hover::before{
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;

        width: 100%;
        height: 4px;

        background-color: $color-primary;
        border-radius: 50px;
    }
}



