$color-orange-background: #198FD2;
$color-black: #000;
$color-black-transparent: #00000080;
$color-white: #fff;
$color-white-transparent: #ffffffc3;
$color-primary: #4E00E8;
$grey-input: #EEEEEE;
$color-hover: #ff0059;